:root{
    --background-color: #101723;
    --text-color: #F1F2F3;
    --onemore: #4B4F5D;
    --twomore: #C875F7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
}
body{
    background-color: var(--background-color);
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
    text-transform: uppercase;
}
section{
    width: 100%;
    height: 95vh;
    position: relative;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--background-color);
    padding: 0 5%;
    box-shadow: 1px 0px 1px var(--onemore);
}
.nav-menu{
    display: flex;
}
nav ul li a{
    margin: 30px;
    color: var(--onemore);
    font-size: 16px;
    transition: all ease 0.1s;
}
nav ul li a:hover{
    color: var(--twomore);
}
.logo{
    color: var(--twomore);
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;

}
.active{
    color: var(--twomore);
}
.text-con p:nth-child(1){
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    color: var(--onemore);

}
.text-con p:nth-child(2){
    font-size: 42px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;

}
.text-con p:nth-child(3){
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    color: var(--twomore);
}
.text-con p{
    margin: 25px 0 25px;
}
.text-con{
    position: absolute;
    left: 13%;
    top: 46%;
    transform: translate(-13%,-46%);
}
.text-con button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    outline: none;
    margin: 0 10px;
}
.hire-btn{
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--twomore);
    transition: all ease 0.1s;
}
.hire-btn:hover{
    background-color: var(--twomore);
    color: var(--text-color);
    transform: scale(1.1);
}
.cv-btn{
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--twomore);
    transition: all ease 0.1s;
}
.cv-btn:hover{
    background-color: var(--twomore);
    color: var(--text-color);
    transform: scale(1.1);
}
.spark{
    position: absolute;
    left: 75%;
    top: 53%;
    transform: translate(-75%,-53%);
    width: 20%; 
    height: auto;
}
.about-con{
    width: 80%;
    height: 330px;
    background-color: var(--text-color);
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    margin: -7% auto 50px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    top: 25vh;
}

.about-txt{
    color:var(--background-color);
    width: 550px;
}
.about-con p:nth-child(1){
    font-size: 24px;
    font-weight: bold;
    color: var(--onemore);
    line-height: 10px;
}
.about-con p:nth-child(2){
    font-size: 12px;
    color: var(--twomore);
    line-height: 30px;
}
.about-con p:nth-child(3),
.about-con p:nth-child(4){
    font-size: 14px;
}
.services{
    height: 700px;
    background-color: var(--text-color);
    padding: 12% 10% 0 10%;
}
.services p:nth-child(1){
    color: var(--onemore);
    font-size: 30px;
    font-weight: bold;
    line-height: 25px;
}
.services p:nth-child(2){
    color: var(--twomore);
    font-size: 16px;
    line-height: 35px;
}
.services p:nth-child(3){
    color: var(--background-color);
    font-size: 13px;
    width: 550px;
}
.box-1,.box-2,.box-3{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    background-color: var(--background-color);
}
.boxes{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;

}
.box-1 span,
.box-2 span,
.box-3 span{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--text-color);
    display: flex;
    color: var(--background-color);
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
    width: 150px;
    margin: 5% 0;
    color: var(--text-color);
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
    color: var(--twomore);
}
.box-1 button,
.box-2 button,
.box-3 button{
    width: 100px;
    height: 30px;
}
.box-1 button,
.box-2 button,
.box-3 button{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    background-color: transparent;
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    border: 1px solid var(--twomore);
    transition: all ease 0.1s;
}
.box-1 button:hover,.box-2 button:hover,.box-3 button:hover{
    background-color: var(--twomore);
    color: var(--text-color);
    transform: scale(1.1);
    
}
.contact-me{
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-me p{
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid var(--text-color);
    margin: 3% 0;
}
.contact-me button{
    width: 200px;
    height: 40px;
    background-color: var(--text-color);
    outline: none;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    transition: all ease 0.1s;
}
.contact-me button:hover{
    background-color: var(--twomore);
    color: var(--text-color);
    transform: scale(1.05);
}

footer{
    background-color: var(--text-color);
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p{
    font-family: 'Courier New', Courier, monospace;
}
footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: var(--background-color);
    line-height: 10px;
    margin: 1% 0;
}
footer p:nth-child(2){
    font-size: 16px;
    color: var(--onemore);
    width: 550px;
    text-align: center;
    margin: 1% 0;
}
.soc-ico{
    display: flex;
    margin: 1% 0;
}
.soc-ico a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    margin: 20px 10px;
    border-radius: 50%;
    transition: all ease 0.1s;
}
.copyright{
    color: var(--onemore);
}
.copyright span{
    color: var(--twomore);
    cursor: pointer;
    transition: all ease 0.1s;
}
.copyright span:hover{
    color: var(--background-color);
}
.soc-ico i{
    color: var(--text-color);
    transition: all ease 0.1s;

}
.soc-ico a:hover i,.soc-ico a:hover{
    background-color: var(--twomore);
    color: var(--background-color);
    transform: scale(1.2);
}
.icon-menu{
    color: white;
    display: none;
}

@media only screen and (max-width:600px){
    
    .icon-menu{
        color: var(--text-color);
        display: block;
        font-size: 1.6rem;
    }
    .icon-menu:hover{
        color: var(--twomore);
    }
    .icon-menu1{
        color: var(--twomore);
        display: inline-block;
        position: relative;
        z-index: 9999;
        font-size: 1.8rem;
    }
    .icon-menu1:hover{
        color: var(--onemore);
    }
    .nav-menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: left;
        width: 0%;
        position: fixed;
        overflow: hidden;
        height: 850vh;
        z-index: 999;
        position: absolute;
        right: 50%;
        top: 50%;
        background-color: var(--text-color);
        transform: translate(50%,-50%);
        transition: all ease 0.5s;
    }
    .nav-menu li {
        margin: 20px 0;
    }
    .nav-menu li a{
        font-size: 2rem;
        transition: all ease 0.1s;
    }
    
    .nav-menu li a:hover{
        transform: translateX(10%);
    }
    .logo{
        font-size: 2rem;
    }
    .text-con{
        top: 30vh;
        margin: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-con p{
        line-height: 1rem;
    }
    .text-con button{
        top: 3rem;
        position: relative;
        margin: 1rem 0;
    }
    .spark{
        display: none;
    }
    .about-con{
        top: -5vh;
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: auto;
        text-align: left;
        position: relative;
    }
    .about-txt p:nth-child(1){
        margin: .5rem 0;
        font-size: 1.5rem;
    }
    .about-txt{
        width: 80%;
        font-size: 1rem;
    }
    .about-txt p:nth-child(3){
        text-align: left;
        text-transform: capitalize;
        font-size: .6rem;
        margin: .5rem 0;
    }
    .about-txt p:nth-child(4){
        text-align: left;
        margin: 1rem 0;
        text-transform: capitalize;
        font-size: .6rem;
    }
    .spark2{
        display: none;
    }
    .services{
        margin: auto;
        height: 230vh;
    }
    .services p:nth-child(1){
        margin-bottom: .5rem;
    }
    .services p:nth-child(2){
        margin-bottom: 1.5rem;
    }
    .services p:nth-child(3){
        margin-bottom: 1.5rem;
        width: 100%;
    }
    .boxes{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .box-1,.box-2,.box-3{
        margin: 2rem 0;
        height: 360px;
        
    }
    .box-1 span,
    .box-2 span,
    .box-3 span{
        width: 60px;
        height: 60px;
        font-size: 3rem;
    }
    .box-1 p:nth-child(2),
    .box-2 p:nth-child(2),
    .box-3 p:nth-child(2){
        font-size: 1.3rem;
        font-weight: bold;
    }
    .box-1 p:nth-child(3),
    .box-2 p:nth-child(3),
    .box-3 p:nth-child(3){
        font-size: 1rem;
        text-align: center;
        width: 75%;
    }
    .box-1 button,
    .box-2 button,
    .box-3 button{
        font-size: 1rem;
    }

    .contact-me p{
        width: 80%;
        font-size: 1.5rem;
        border: none;
        text-align: center;
        margin: 1.5rem 0;
    }
    footer{
        position: relative;
        display: flex;
        justify-content: left;
        height: 50vh;
        margin: auto;
    }
    footer p{
        width: 80%;
        margin: auto;
        
    }
    footer p:nth-child(1){
        font-size: 1.5rem;
        margin: 2rem;
        align-self: start;
    }
    footer p:nth-child(2){
        width: 80%;
        text-align: left;
        text-transform: capitalize;
        font-size: .8rem;
    }
    .soc-ico{
        position: relative;
        margin: 3rem 0;
    }
    .soc-ico a{
        margin: 0 1.2rem;
    }
    .copyright{
        justify-content: end;
        font-size: .8rem;
        text-align: center;
    }

}
